@import "~antd/dist/antd.dark.css";
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins&family=Source+Sans+Pro&display=swap");

$font_title: "Poppins", sans-serif;
$font_text: "Source Sans Pro", sans-serif;
$font_logo: "Pattaya", sans-serif;

$color_red: #ff0942;

h1,
li {
  font-family: $font_title;
}

p {
  font-family: $font_text;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header-logo {
  float: left;
  font-family: $font_logo;
  font-size: 20px;
}

.header-menu {
  float: right;
}

.ant-menu-item {
  background: transparent;
  text-transform: capitalize;
  &::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 10px;
    left: 15%;
    background-color: $color_red;
    transition: width 0.3s ease;
  }
  &.ant-menu-item-selected {
    background-color: transparent !important;
    &::after {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      bottom: 10px;
      left: 15%;
      background-color: $color_red;
    }
  }
  &.ant-menu-item-active {
    background-color: transparent !important;
    transition: all 0.3s ease-out;
  }
  &:hover {
    &::after {
      width: 70%;
    }
  }
}

.global-content-container {
  background-color: #1f1e1e;
  padding: 50px 50px 0;
}
